<div class="forecast">
    <div class="forecast-title">7-Day Forecast</div>

    <div class="seven-days-wrapper">
        <div class="forecast-day" *ngFor="let day of forecast?.days">
            <div class="forecast-date">
                <div class="forecast-day-name">{{ dayNameFromDate(day.date) }}</div>
                <div class="forecast-day-and-month">{{ dayAndMonthFromDate(day.date) }}</div>
            </div>

            <div class="forecast-weather-icon">
                <img [src]="getWeatherIconPath(day.weather)" [alt]="day.weather">
            </div>

            <div class="forecast-day-data">
                <div class="forecast-day-data-max-temp">{{ day.maxTemp }}{{ temperatureUnit }}</div>
                <div class="forecast-day-data-min-temp">{{ day.minTemp }}{{ temperatureUnit }}</div>
                
                <div class="forecast-day-data-wind-speed">
                    <div class="forecast-day-data-wind-speed-label">
                        <img src="assets/img/wind.svg" alt="">
                    </div>

                    <div class="forecast-day-data-wind-speed-data">
                        <div class="forecast-day-wind-direction">
                            <img src="assets/img/compass.svg" alt="wind direction" [attr.aria-label]="day.windDirection">
                        </div>
                        <div class="forecast-day-wind-speed">{{ day.averageWindSpeed }} m/s</div>
                    </div>
                </div>

                <div class="forecast-day-data-relative-humidity">
                    <div class="forecast-day-data-relative-humidity-label">
                        <img src="assets/img/drop.svg" alt="">
                    </div>
                    <div class="forecast-day-data-relative-humidity-data">{{ day.averageRelativeHumidity }}</div>
                </div>
            </div>
        </div>
    </div>
</div>