.dashboard {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    width: 50%;
    margin: 0 auto;

    .dashboard-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: rgba(65, 83, 124, 1);
        color: #FAFAFA;
        padding: 10px;

        .dashboard-header-location-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .location-info-city {
                font-size: 1.2em;

                .dashboard-header-city {
                    font-size: 1.2em;
                    font-weight: 800;
                    letter-spacing: 1px;
                    color: #2db9cf;
                }
            }
        }

        .dashboard-header-date-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            
            .dashboard-header-time {
                font-size: 1.5em;
            }
        }
    }
}
