<div class="current-weather">
    <div class="current-weather-title">
        <div class="current-weather-label">Current Weather</div>
    </div>

    <div class="current-weather-data-wrapper">
        <div class="current-weather-icon">
            <img [src]="weatherIconPath" [alt]="weather.weather">
        </div>

        <div class="current-weather-data">
            <div class="current-weather-temperature">
                {{ weather.temp2m }}{{ temperatureUnit }}
            </div>
            <div class="current-weather-wind">
                <div class="current-weather-wind-label">Wind</div>
                <div class="current-weather-wind-data">
                    <div class="current-weather-wind-direction">
                        <img src="assets/img/compass.svg" alt="wind direction" [attr.aria-label]="weather.wind10m.direction">
                    </div>
                    <div class="current-weather-wind-speed">
                        {{ weather.wind10m.speed }} m/s
                    </div>
                </div>
            </div>

            <div class="current-weather-relative-humidity">
                <div class="current-weather-relative-humidity-label">Humidity</div>
                <div class="current-weather-relative-humidity-data">{{ weather.rh2m }}</div>
            </div>
        </div>
    </div>
</div>
