.current-weather {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 6px;

    .current-weather-title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 1.5em;
        gap: 40px;

        .current-weather-label {
            opacity: 0.6;
            font-weight: 700;
        }

        .current-weather-time {
            font-size: 0.9em;
        }
    }

    .current-weather-data-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;

        .current-weather-icon {
            width: 128px;
            height: auto;
        }

        .current-weather-data {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .current-weather-temperature {
                font-size: 3.2em;
                font-weight: 800;
                opacity: 0.8;
            }

            .current-weather-wind {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .current-weather-wind-data {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    width: 100%;
                    gap: 5px;
                    font-weight: 700;

                    .current-weather-wind-direction {
                        img {
                            width: 20px;
                            height: 20px;
                        }

                        img[aria-label="NE"] { transform: rotate(0) }
                        img[aria-label="E"]  { transform: rotate(45deg) }
                        img[aria-label="SE"] { transform: rotate(90deg) }
                        img[aria-label="S"]  { transform: rotate(135deg) }
                        img[aria-label="SW"] { transform: rotate(180deg) }
                        img[aria-label="W"]  { transform: rotate(225deg) }
                        img[aria-label="NW"] { transform: rotate(270deg) }
                        img[aria-label="N"]  { transform: rotate(315deg) }
                    }
                    
                }
            }

            .current-weather-relative-humidity {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                align-items: center;

                .current-weather-relative-humidity-data {
                    font-weight: 700;
                }
            }
        }
    }
}